@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:0;
    font-family: Roboto;
}

.sidebar {
    background-color: lightskyblue;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 40px;
    padding-left: 20px;
    padding-top: 8px;
}

.sidebar-item { 
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
}

.sidebar-item > :nth-child(1) {
    justify-self: center;
}

.sidebar-item > :nth-child(2) {
    justify-self: start;
}

.home-nav, .setting-nav {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 14px;
}

.sidebar-item.branding .icon{
    font-size: 32px;
}

.sidebar-item.branding {
    font-size: 24px;
}