@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:0;
    font-family: Roboto;
}

body {
    height: 100vh;
}

.Dashboard {
    height: 100%;
    display: grid;
    grid-template-columns: max(220px, 15%) 4fr;
    grid-template-rows:  150px  4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    ;
}

.sidebar {
    grid-area: sidebar;
    background-color: #06b6d4;
    color: white;
    display: grid;
    grid-template-rows: 32px 210px 110px;
    grid-gap: 40px;
    padding-left: 20px;
    padding-top: 8px;
}

.sidebar-item { 
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
    font-weight: 500;
}

.sidebar-item > :nth-child(1) {
    justify-self: center;
}

.sidebar-item > :nth-child(2) {
    justify-self: start;
}

.home-nav, .setting-nav {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 14px;
}

.sidebar-item.branding .icon{
    font-size: 32px;
}

.sidebar-item.branding {
    font-size: 24px;
}

header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding:1em 1.5em;
    align-items: center;
}

.search {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.search .left {
    display: grid;
    align-items: center;
    grid-template-columns: 16px max(200px, 60%);
    gap: 8px;
}

.search .left>input {
    height: 32px;
    background-color: #d6d3d1;
    border-radius: 16px;
    padding: 0 16px;
    outline: none;
    border:none;
}

.search .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 120px;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin-right: 24px;
}

.notification {
    font-size: 1.2em;
    margin-right: -32px;
}

.photo-profile img{
    width: 3em;
}

.user-info {
    grid-column: 1 / 2;
    display:grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 16px;
    align-items: center; 
}

.user-info .photo-profile {
    grid-row: 1 / 3;
}

.bio {
    font-size: 0.8em;
    margin-bottom: -8px;
    font-weight: 500;
}

.user-info .user-name {
    font-size: 1.3em;
}
.user-info .user-name, .user-name {
    font-weight: 600;
} 

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 8px 24px;
    border: none;
    border-radius: 16px;
    background-color: #06b6d4;
    color: white;
}

.main-content {
    padding: 1.8rem 4rem 1.8rem 1.8rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr max(216px, 25%);
    row-gap: 32px;
    column-gap: 16px;
    background-color: #d6d3d1;
}

.main-content .title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 16px;
}

.projects {
    grid-row: 1 / 3;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(300px, 45%));
    grid-template-rows: repeat(3, 1fr);
    gap:1.4rem;
}

.card {
    padding: 32px;
    background-color: white;
    display: grid;
    row-gap: 2rem;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.card > :nth-child(2) {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1em;
    font-size: 1.5em;
}

.card > p {
    font-size: 0.8em;
    line-height: 1.2;
    width:70%;
}

.card-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
}

.card::before {
    content:'';
    background-color: #f59e0b;
    width: 12px;
    height: 100%;
    position: absolute;
}



.announcements-items, .trending-items {
    background-color: white;
    border-radius: 16px;
    padding: 0 16px;
    display: grid;
}

.announcements-items {    
    font-size: 0.8em;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
}

.announcements-items > :nth-child(2) {
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
}

.announcements-items > *, .trending-items > * {
    padding: 1rem;
}

.trending-items {
    padding: 16px 0;
}

.trending-items > * {
    display: grid;
    grid-template-columns: 30% 170px;
    justify-items: center;
    align-items: center;
}

.trending-items img {
    width:48px;
    padding-left: 16px;
}

.a_name {
    font-weight: 500;
    margin-bottom: 8px;
}
